extends layout

block maincontent
    // Content Header (Page header)
    section.content-header
        h1 #{status} Error Page
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard Level
            li.active #{status} Error
    // Main content
    section.content
        // Your Page Content Here
        .error-page
            if status == 404
                h2.headline.text-yellow #{status}
            else
                h2.headline.text-red #{status}
            .error-content
                h3
                if status == 404
                    i.fa.fa-warning.text-yellow
                    |  Oops! Page not found.
                else
                    i.fa.fa-warning.text-red
                    |  Oops! Something went wrong.
                p
                    | We will work on fixing that right away.
                    | Meanwhile, you may
                    a(href='/playboard')  return to dashboard