extends layout

block maincontent
    // Content Header (Page header)
    section.content-header
        h1 Playboard
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard Level
            li.active Playboard
    // Main content
    section.content
        // Your Page Content Here
