extends layout

block maincontent
    // Content Header (Page header)
    section.content-header
        h1 Playboard
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard Level
            li.active Playboard
    // Main content
    section.content#maincontentblock
        // Your Page Content Here
        h4.well.well-sm.my-well.white Ongoing Events
        .row
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?7')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
        h4.well.well-sm.my-well.white Future Events
        .row
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?6')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?5')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
        h4.well.well-sm.my-well.white Past Events
        .row
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?1')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?2')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
            .col-xs-12.col-sm-6.col-md-3.event
                .thumbnail
                    .overlay
                    img.img-responsive(alt='alternative text', src='http://lorempixel.com/800/400/nightlife?3')
                span.label.label-info.date Jun 12
                span.label.label-primary.pull-right Boys 5$
                p
                    strong Business & Entrepreneurs Workshop
                    br
                    em at Grand Hotel Italia
                    br
                    span.small 10:00 AM - 21:00 PM
