.event .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.event .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    border-radius: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.event .overlay {
    background-color: rgba(0, 0, 255, 0.15);
}

.event .label.date {
    font-size: 10px;
}

.event {
    padding: 1em;
}

.event p {
    margin-top: 1em;
}

.my-well {
    background-color: #222D32 !important;
}

.white {
    color: #fff !important;
}

.my-fixed-footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
}

#mainblock {
    padding-bottom: 30px;
}

/*aside {*/
/*height: 100% !important;*/
/*left: 0 !important;*/
/*position: fixed !important;*/
/*top: 0 !important;*/
/*}*/

body {
    background-color: #222d32!important;
    /*overflow-y:hidden !important;*/
    overflow-x: hidden !important;
}

.sidebar-menu > li.active > a.my-border-red {
    border-left-color: #DD4B39 !important;
}

.sidebar-menu > li:hover > a.my-border-red {
    border-left-color: #DD4B39 !important;
}

.sidebar-menu > li.active > a.my-border-blue {
    border-left-color: #3c8dbc !important;
}

.sidebar-menu > li:hover > a.my-border-blue {
    border-left-color: #3c8dbc !important;
}

.sidebar-menu > li.active > a.my-border-yellow {
    border-left-color: #F39C12 !important;
}

.sidebar-menu > li:hover > a.my-border-yellow {
    border-left-color: #F39C12 !important;
}

.sidebar-menu > li.active > a.my-border-green {
    border-left-color: #3C763D !important;
}

.sidebar-menu > li:hover > a.my-border-green {
    border-left-color: #3C763D !important;
}


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url('../images/login_background.png');
    background-size: cover;
    height: 200px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/*The below is for event.jade*/

.movie-ticket .ui-item .ui-head{
    position: relative;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.movie-ticket .ui-item .ui-head img.bg-img{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
@media(max-width: 660px){
    .movie-ticket .ui-item .ui-head img.bg-img{
        display: none;
    }

    #trackinfobox{
        height: auto!important;
    }
}
/* Transparent Background */
.movie-ticket .ui-head .ui-trans{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    padding: 25px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
@media(max-width: 660px){
    .movie-ticket .ui-head .ui-trans{
        background: #fff;
        position: inherit;
        border:1px solid #ddd;
        border-bottom:0px;
    }
}
.movie-ticket .ui-head .ui-trans img{
    max-width: 180px;
    float: left;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 0px 10px 0px #000;
}
@media(max-width: 660px){
    .movie-ticket .ui-item .ui-trans img{
        float: none;
        margin-bottom: 15px;
        box-shadow:none;
    }
}
/* Details */
.movie-ticket .ui-trans .ui-details{
    margin-left: 205px;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details{
        margin-left: 0px;
    }
}
/* Heading */
.movie-ticket .ui-trans .ui-details h2{
    font-size: 28px;
    line-height:38px;
    font-weight:300;
}
.movie-ticket .ui-trans .ui-details h2 > a{
    color: #fff;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details h2 > a{
        color: #555;
    }
}
/* Label */
.movie-ticket .ui-trans .ui-details a.label{
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin:5px 2px;
    display: inline-block;
    background:rgba(0,0,0,0.3);
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details a.label{
        border: 1px solid #ccc;
        color: #555;
        background:transparent;
    }
}
.movie-ticket .ui-trans .ui-details p{
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 5px;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details p{
        color: #555;
    }
}
/* Small Headings */
.movie-ticket .ui-trans .ui-details h4{
    color: #fff;
    font-size: 12px;
    line-height: 23px;
    margin: 0px;
    width: 100px;
    float: left;
    font-weight: 600;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details h4{
        color: #555;
        width: 70px;
    }
}
.movie-ticket .ui-trans .ui-details h4 > span{
    display: inline-block;
    width: 75px;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details  h4 > span{
        width: 55px;
    }
}
.movie-ticket .ui-trans .ui-details h5{
    margin-left: 100px;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details  h5{
        margin-left: 65px;
    }
}
.movie-ticket .ui-trans .ui-details h5 > a{
    color: #fff;
}
@media(max-width: 660px){
    .movie-ticket .ui-trans .ui-details h5 > a{
        color: #555;
    }
}
/* Review */
.movie-ticket .ui-item .ui-review{
    border:1px solid #ddd;
    padding: 15px 20px 15px;
    border-top:0px;
    background:#fff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
@media(max-width: 660px){
    .movie-ticket .ui-item .ui-review{
        border-top:1px solid #ddd;
    }
}
/* Heading */
.movie-ticket .ui-item .ui-review h3{
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
}
/* Paragraph */
.movie-ticket .ui-item .ui-review p{
    font-size: 13px;
    line-height: 28px;
    color: #777;
    margin-bottom:10px;
}
/* Button */
.movie-ticket .ui-item .ui-review a.ui-btn{
    display: inline-block;
    margin: 0px 5px 8px 0px;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    border-radius: 2px;
}
.movie-ticket .ui-item .ui-review a.ui-btn > i{
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-right: 7px;
    margin-right: 3px;
}